player-connection-mode=Connect
player-connection-guid=3877137255
player-connection-debug=0
player-connection-project-name=Miners
player-connection-wait-timeout=-1
player-connection-ip=192.168.1.2
profiler-enable=1
gfx-enable-gfx-jobs=1
gfx-threading-mode=6
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=0d95c97f258840c29a232a4d600a13c4
